<app-nav></app-nav>

<div class="main-content" *ngIf="estado">
  <h1>Perfil</h1>

  <div class="profile-container">
    <div class="photo"></div>
    <div class="profile-data mat-elevation-z4">
      <app-doublerow
        [text1]="voter?.name!"
        [title1]="'Nombres'"
        [text2]="voter?.lastName!"
        [title2]="'Apellidos'"
      ></app-doublerow>
      <app-doublerow></app-doublerow>
      <app-doublerow
        [text1]="voter?.gender! ? 'Masculino' : 'Femenino'"
        [title1]="'Sexo'"
        [text2]="getAge()"
        [title2]="'Edad'"
      ></app-doublerow>
      <app-doublerow></app-doublerow>

      <app-doublerow
        [text2]="'Peruano'"
        [title2]="'Nacionalidad'"
        [text1]="voter?.dni!"
        [title1]="'DNI'"
      ></app-doublerow>

      <app-singlerow
        [text]="voter?.email!"
        [title]="'Correo Electrónico'"
      ></app-singlerow>
    </div>
  </div>
</div>

<div class="main-content" *ngIf="!estado">
  <h1>Perfil</h1>

  <div class="profile-container">
    <div class="photo-error"></div>
    <div class="profile-data mat-elevation-z4 centrar">
      <h1>Ha ocurrido un error en la carga de la información del votante</h1>
      <button class="boton" [routerLink]="['/perfil']">REINTENTAR</button>
    </div>
  </div>
</div>
