<app-nav></app-nav>
<div class="main-content">
  <div class="contenido">

    <h1> Perfil </h1>

    <div class="perfil">
      <div class = "circular--portrait">
        <img src="assets/images/persona.jpg">
      </div>

      <div class="form-container mat-elevation-z4">
        <form>
          <div class="form-controller">
            <div class="texto">
              <div class="columna">
                <h3> Nombre</h3>
                <h3> Apellido Paterno</h3>
                <h3> Apellido Materno</h3>
                <h3> Edad</h3>
                <h3> Sexo </h3>
                <h3> Nacionalidad</h3>
                <h3> Estado Civil</h3>
                <h3> Nacimiento </h3>
                <h3> Ubigeo </h3>
                <h3> Dirección</h3>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>



