@import "src/assets/styles/styles.scss";

.main-content{
  width: 100vw;
  height: 100vh;
  background: $mainBackgroundColor;
  display: flex;

  .contenido{
    text-align: center;
    margin: 0 auto;
  }

  .perfil{
    display: inline-flex;
    justify-content: space-between;
  }

  .circular--portrait {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    img {
      width: 100%;
      height: auto;
    }
  }

  @include form-controller(
      (
        Properties: (
          border-color: rgb(195, 21, 21),
          height: 30px,
          radius: 40px,
        ),
      )
  );

  .form-container {
    * {
      margin: 0;
    }
    .form-controller {
      margin-bottom: 15px;
    }
    width: 100%;
    height: 100%;
    background-color: $cardColor;
    border-radius: 44px;
    padding: 5%;
    @include button();
    form {
      width: 100%;
      height: 100%;
      margin: 0;
    }
  }

  .texto {
    color: black;
    font-family: $titleFont;
    text-transform: uppercase;
    font-size: small;
  }

  .columna{
    column-count:2;
  }
}

