<app-nav></app-nav>
<div class="main-content">
  <h1>Perfil</h1>

  <div class="profile-container">
    <div class="photo"></div>
    <div class="profile-data mat-elevation-z4">
      <app-singlerow
        [text]="'Nombre de prueba'"
        [title]="'Nombre'"
      ></app-singlerow>
      <app-doublerow
        [text1]="'Nombre de prueba'"
        [title1]="'Apelldo Paterno'"
        [text2]="'Nombre de prueba'"
        [title2]="'Apelldo Materon'"
      ></app-doublerow>
      <app-doublerow></app-doublerow>
      <app-doublerow
        [text1]="'Nombre de prueba'"
        [title1]="'Sexo'"
        [text2]="'Nombre de prueba'"
        [title2]="'Edad'"
      ></app-doublerow>
      <app-doublerow></app-doublerow>

      <app-doublerow
        [text1]="'Nombre de prueba'"
        [title1]="'Nacionalidad'"
        [text2]="'Nombre de prueba'"
        [title2]="'Estado Civil'"
      ></app-doublerow>
      <app-doublerow></app-doublerow>
      <app-doublerow
        [text1]="'Nombre de prueba'"
        [title1]="'Nacimiento'"
        [text2]="'Nombre de prueba'"
        [title2]="'Ubigeo'"
      ></app-doublerow>
      <app-doublerow></app-doublerow>
      <app-singlerow
        [text]="'Descampado'"
        [title]="'Dirección'"
      ></app-singlerow>
    </div>
  </div>
</div>
