<div class="main-content" *ngIf="estado">
  <h1>Perfil</h1>

  <div class="profile-container">
    <img
      src="{{
        imageUrl.length > 0
          ? imageUrl
          : 'https://media.discordapp.net/attachments/637114961365041163/1024802988100948059/unknown.png'
      }}"
      alt=""
    />
    <!-- <img
      src="https://profilecp.s3.sa-east-1.amazonaws.com/6334c04f1713ca497deb486c"
      alt=""
    /> -->
    <div class="profile-data mat-elevation-z4">
      <app-doublerow
        [text1]="candidate?.name!"
        [title1]="'Nombres'"
        [text2]="candidate?.lastName!"
        [title2]="'Apellidos'"
      ></app-doublerow>

      <app-doublerow
        [text1]="candidate?.gender! ? 'Masculino' : 'Femenino'"
        [title1]="'Sexo'"
        [text2]="getAge()"
        [title2]="'Edad'"
      ></app-doublerow>
      <app-doublerow
        [text2]="'Peruano'"
        [title2]="'Nacionalidad'"
        [text1]="candidate?.dni!"
        [title1]="'DNI'"
      ></app-doublerow>
      <app-doublerow
        [text1]="candidate?.email!"
        [title1]="'Correo Electrónico'"
        [text2]="candidate?.politicalParty?.name!"
        [title2]="'Partido Politico'"
      ></app-doublerow>
      <app-singlerow></app-singlerow>
    </div>
  </div>
</div>

<div class="main-content" *ngIf="!estado">
  <h1>Perfil</h1>

  <div class="profile-container">
    <div class="photo-error"></div>
    <div class="profile-data mat-elevation-z4 centrar">
      <h1>Ha ocurrido un error en la carga de la información del candidato</h1>
    </div>
  </div>
</div>
