<app-nav></app-nav>
<div class="main-content">
  <h1>Candidatos</h1>

  <div class="candidatos" *ngIf="candidatos.length != 0">
    <app-candidatos-card
      *ngFor="let candidato of candidatos"
      [candidato]="candidato"
    ></app-candidatos-card>
  </div>
  <div class="main-content" *ngIf="candidatos.length == 0">
    <div class="fila-carta">
      <mat-card class="aliniamiento">
        <img mat-card-sm-image src="assets/images/lupa.png" />
        <h1>
          No se encontraron <br />
          Candidatos
        </h1>
        <button class="boton" [routerLink]="['/perfil']">REINTENTAR</button>
      </mat-card>
    </div>
  </div>
</div>
