<div class="vote-confirm">
  <h1>Confirmacion de Voto</h1>

  <div class="text">
    <div class="vote-confirm-text" *ngIf="!voted">
      <p>
        ¿ Estás seguro que desea votar por
        <a>{{ candidate?.name + " " + candidate?.lastName }}</a> de
        <a>{{ " " + candidate?.politicalParty?.name! }}</a>
      </p>

      <div class="buttons">
        <button (click)="vote()">VOTAR</button>
        <p (click)="cancel()">cancelar</p>
      </div>
    </div>
    <div class="vote-confirm-qr">
      <canvas #myCanvas id="canvas"></canvas>
    </div>
  </div>
</div>
