@import "src/assets/styles/styles.scss";

.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  .left-container {
    height: 100vh;
    left: 0;
    position: fixed;
    background-color: $secondBackgroundColor;
    width: 30%;
    z-index: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    .title {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      h1,
      img {
        margin: 0;
      }
      img {
        width: 150px;
        height: 150px;
      }
    }
    .form-container {
      margin-top: 10px;
      width: 60%;
      height: 50%;
      background-color: $cardColor;
      border-radius: 44px;
      padding: 5%;
      @include button();
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: flex-start;
      button {
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        mat-icon {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      * {
        font-size: 1.3rem;
      }
    }
  }
  @include title();
  @include paragraph();

  .right-container {
    height: 100vh;
    width: 72%;
    z-index: 1;
    border-top-left-radius: 30px;
    background-color: $mainBackgroundColor;
    border-bottom-left-radius: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    h1 {
      margin-bottom: 5px;
    }
    p {
      font-size: 1.3rem;
    }
    img {
      border-radius: 44px;
    }
  }
}
