<div class="main-container">
  <div class="left-container">
    <div class="left-second-container"></div>
    <div class="left-main-container">
      <div class="logo">
        <img src="../../assets/images/logo.png" alt="" />
        <h1>VotingSystem</h1>
      </div>
    </div>
  </div>
  <div class="right-container">
    <h1>Login</h1>
    <div class="form-container mat-elevation-z4">
      <form>
        <div class="form-controller">
          <label>DNI</label>
          <div class="form-container">
            <input id="email" placeholder="Ingrese su DNI" type="number" />
          </div>
        </div>
        <div class="form-controller">
          <label>Fecha de emisión</label>
          <div class="form-container">
            <input id="email" placeholder="dd/mm/yyyy" type="date" />
          </div>
        </div>

        <button class="mat-elevation-z4" [routerLink]="['/verificacion']">
          SIGUIENTE
        </button>
      </form>
    </div>
  </div>
</div>
