@import "src/assets/styles/styles.scss";

.main-container {
  width: 100vw;
  background: $mainBackgroundColor;
  .mat-card:not([class*=mat-elevation-z]) {
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 0 2px 1px -1px rgb(255, 255, 255),
    0 1px 1px 0 rgb(255, 255, 255),
    0 1px 3px 0 rgb(255, 255, 255);
  }

  .bordeCard{
    border-radius: 4em;
    border-width: 0.1em;
  }

  .sidenav-container {
    border-radius: 4em;
    border-width: 0.1em;
  }

  .mat-toolbar{
    background: white;
    color: black;
  }

  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      margin-top: 20px;
      width: 45px;
      height: 45px;
    }

    h1 {
      text-align: center;
      font-size: x-small;
      margin: 0;
      padding: 0;
    }
  }

  .default-spacer {
    flex: 1 1 max-content;
  }

  li{
    display:inline;
    padding-left:45%;
    padding-right:3px;
  }

  a {
    text-decoration: none;
    color: black;
    font-size: medium;
  }

  .texto{
    position: absolute;
    left: 27%;
  }

}
