<app-nav></app-nav>
<div class="main-content">

  <h1>Votaciones Pasadas</h1>

  <div class="fila-carta">

    <mat-card>
      <img mat-card-sm-image src="assets/images/onpelogo.jpg">
      <mat-card-content>
        <h1> Elecciones <br> Provinciales 2021 </h1>
        <span> 21/07/2021 </span>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <img mat-card-sm-image src="assets/images/onpelogo.jpg">
      <mat-card-content>
        <h1> Elecciones <br> Provinciales 2021 </h1>
        <span> 21/07/2021 </span>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <img mat-card-sm-image src="assets/images/onpelogo.jpg">
      <mat-card-content>
        <h1> Elecciones <br> Provinciales 2021 </h1>
        <span> 21/07/2021 </span>
      </mat-card-content>
    </mat-card>

  </div>

  <div class="fila-carta separacion">

    <mat-card>
      <img mat-card-sm-image src="assets/images/onpelogo.jpg">
      <mat-card-content>
        <h1> Elecciones <br> Provinciales 2021 </h1>
        <span> 21/07/2021 </span>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <img mat-card-sm-image src="assets/images/onpelogo.jpg">
      <mat-card-content>
        <h1> Elecciones <br> Provinciales 2021 </h1>
        <span> 21/07/2021 </span>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <img mat-card-sm-image src="assets/images/onpelogo.jpg">
      <mat-card-content>
        <h1> Elecciones <br> Provinciales 2021 </h1>
        <span> 21/07/2021 </span>
      </mat-card-content>
    </mat-card>

  </div>

</div>
