@import "src/assets/styles/styles.scss";

.main-content{
  @include button;
  @include title;
  width: 100vw;
  height: 100vh;
  background: $mainBackgroundColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1{
    font-size: $titleFont;
    font-size: 25px;
  }

  .fila-carta{
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 5px;

    .mat-card{
      display: flex;
      margin-left: 15px;
      border-radius: 44px;

      .mat-card-content{
        margin-left: 30px;
      }

      .mat-card-sm-image{
        width: 7em;
        height: 7em;
      }

    }

    .aliniamiento{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
    }

  }
}

