@import "src/assets/styles/styles.scss";

.main-background {
  background: $mainBackgroundColor;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  @include title();
  @include paragraph();
  .welcome-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    p {
      margin-top: 0px;
    }
    h1 {
      margin-bottom: 0px;
    }
  }
}
