img{
  border-radius: 8px;
}

.aliniamiento{
  display: flex;
}

.contenido{
  max-width: 70%;
}

.logo{
  margin: 1em 6em;
  min-width: 15%;
  max-width: 25%;
}

.posicionamiento{
  top: 50px;
  left: 8%;
}

.centrarTexto {
  text-align: center;
}

.custom-form {
  min-width: 250px;
  max-width: 300px;
  background: rgba(255, 255, 255, 0.15);
  padding: 2rem 3rem;
  border-radius: 2.5rem;
  background-color: #ecf0f3;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
}

.custom-form button {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  border: none;
  font-size: 0.875rem;
  color: #ffffff;
  background-color: #3A3CAC;
  width: 100%;
  display: block;
  padding: 0.875rem 1rem;
  border-radius: 1.5rem;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  cursor: pointer;
}

#div2{
  position: absolute;
  left: 15%;
  max-width: 200%;
  height: 700px;
}


