<div class="aliniamiento contenido">
  <div class="posicionamiento" style="position: relative">
    <img src="assets/images/logo.png" class="logo" />
    <h1>Sistema de Votacion</h1>

    <form class="custom-form centrarTexto" method="post">
      <h1>Verifica tus datos</h1>
      <button
        [routerLink]="['/verificacion']"
        class="btn-ingresar"
        mat-raised-button
        color="primary"
      >
        Huella Dactilar <img src="assets/images/huellaicon.png" />
      </button>
      <h1>o</h1>
      <button
        [routerLink]="['/verificacion']"
        class="btn-ingresar"
        mat-raised-button
        color="primary"
      >
        Codigo de Barras <img src="assets/images/camaraicon.png" />
      </button>
    </form>
  </div>

  <div id="div2" class="centrarTexto" style="position: relative; top: 150px">
    <h1>Bienvenido a VotingSystem</h1>
    <h3>
      Es necesario validar la autenticidad de la persona. Para <br />
      ello se utilizará su huella dactilar y/o su DNI en físico.
    </h3>
    <img src="assets/images/HuellaLogo.png" />
  </div>
</div>
